body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 36px;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
#caption{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}
.gallery img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s;
}
.gallery img:hover{
    transform: scale(1.05);
    border-color: #777;
}
.lightbox.active{
    display: flex;
}
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
.lightbox-content{
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: rgb(255, 254, 254);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
#prevBtn {
    top: 50%;
    left: 10px;
    position: absolute;
}
#nextBtn {
    top: 50%;
    right: 10px;
    position: absolute;
}
#lightbox-image{
    max-width: 80vw;
    max-height: 80vh;
}